<div class="view">
    <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
    <label>{{todo.title}}</label>
    <button class="destroy" (click)="removeTodo(todo)"></button>
</div>
